<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label>Date filter</ion-label>
    <ion-datetime displayFormat="MMMM DD YYYY" pickerFormat="MMMM DD YYYY" [(ngModel)]="dateFilter" (change)="applyFilter(dateFilter)"
      (ngModelChange)="applyFilter(dateFilter)"></ion-datetime>
  </ion-item>
  <h1 *ngIf="dateFilter">You filtered by Date {{dateFilter}}
    <button (click)="applyFilter(null); filterChart(selectedItem);">Clear</button>
  </h1>

  <h1 *ngIf="selectedItem">You selected Chart {{selectedItem}}</h1>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides>
          <ion-slide *ngFor="let chart of charts">
            <h2>Chart {{chart}}</h2>
            <ion-buttons start>
              <button ion-button small icon-only>
                <ion-icon name="arrow-up"></ion-icon>
              </button>
              <button ion-button small icon-only>
                <ion-icon name="arrow-down"></ion-icon>
              </button>
            </ion-buttons>
            <img src="../../assets/chart.png" (click)="filterChart(chart)" style="cursor: pointer;">
          </ion-slide>
        </ion-slides>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!isMobile">
    <ion-row>
      <ion-col *ngFor="let chart of charts" col-12 col-xl-4 col-lg-4 col-md-6>
        <ion-card>
          <ion-item>
            <h1 text-capitalize style="text-align: center;">{{chart}}</h1>
          </ion-item>
          <ion-card-content>
            <ion-buttons start>
              <button ion-button small icon-only>
                <ion-icon name="arrow-up"></ion-icon>
              </button>
              <button ion-button small icon-only>
                <ion-icon name="arrow-down"></ion-icon>
              </button>
            </ion-buttons>
            <img src="../../assets/chart.png" (click)="filterChart(chart)" style="cursor: pointer;">
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>